@model G8Cozy.Models.home

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>home</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Price" class="control-label"></label>
                <input asp-for="Price" class="form-control" />
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="YearBuilt" class="control-label"></label>
                <input asp-for="YearBuilt" class="form-control" />
                <span asp-validation-for="YearBuilt" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SquareFeet" class="control-label"></label>
                <input asp-for="SquareFeet" class="form-control" />
                <span asp-validation-for="SquareFeet" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Keywords" class="control-label"></label>
                <input asp-for="Keywords" class="form-control" />
                <span asp-validation-for="Keywords" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="HomeType" class="control-label"></label>
                <input asp-for="HomeType" class="form-control" />
                <span asp-validation-for="HomeType" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Room" class="control-label"></label>
                <input asp-for="Room" class="form-control" />
                <span asp-validation-for="Room" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Bath" class="control-label"></label>
                <input asp-for="Bath" class="form-control" />
                <span asp-validation-for="Bath" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Image" class="control-label"></label>
                <input asp-for="Image" class="form-control" />
                <span asp-validation-for="Image" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="IsSell" /> @Html.DisplayNameFor(model => model.IsSell)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="HavePool" /> @Html.DisplayNameFor(model => model.HavePool)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="HaveOnSiteParking" /> @Html.DisplayNameFor(model => model.HaveOnSiteParking)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="HavePark" /> @Html.DisplayNameFor(model => model.HavePark)
                </label>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
