
@{
    ViewData["Title"] = "Home Page";
}
@section Style {
    <link rel="stylesheet" href="~/css/style.css" />
}
<!--
<section class="search-container">
    <div class="search-mid">
        <div class="search-txt">
            <p>Agents. Tours. Loans. Homes.</p>
        </div>
        <div class="search-mix">
            <input type="text" class="search-input" placeholder="Search...">
            <div id="search-icon" class="search-button">
                <a href="~/homes/create">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                        <circle cx="11" cy="11" r="8" />
                        <line x1="21" y1="21" x2="16.65" y2="16.65" />
                    </svg>
                </a>
            </div>
        </div>
    </div>
</section>

<div style="display: flex; flex-direction: row; justify-content: space-between; padding-left: 10px; padding-right: 5px;  ;padding-top: 30px;">
    <div class="sellHome">
        <p class="home-title">Buy a Home</p>
        <div>
            <img src="~/imgs/buyHome.JPG" alt="buyHome" class="home-img">
        </div>
        <div>
            <p class="home-subtitle">
                Find your place with an immersive photo experience and the most listings, including things you won’t find
                anywhere else
            </p>
            <a href="~/homes" class="button-home">Browse Homes</a>
        </div>
    </div>
    <div class="sellHome">
        <p class="home-title">Rent a Home</p>
        <div>
            <img src="~/imgs/rentHome.JPG" alt="sellHome" class="home-img">
        </div>
        <div>
            <p class="home-subtitle">We’re creating a seamless online experience – from shopping on the largest rental network, to applying, to paying rent.</p>
            <a href="~/homes" class="button-home">Find Rentals</a>
        </div>

    </div>
    <div class="sellHome">
        <p class="home-title">Find Agent</p>
        <div>
            <img src="~/imgs/buyHome.JPG" alt="buyHome" class="home-img">
        </div>
        <div>
            <p class="home-subtitle">
                Find your place with an immersive photo experience and the most listings, including things you won’t find
                anywhere else
            </p>
            <a href="~/homes/agents" class="button-home">Browse Agents</a>
        </div>
    </div>
    <div class="sellHome">
        <p class="home-title">Sell a Home</p>
        <div>
            <img src="~/imgs/sellHome.JPG" alt="sellHome" class="home-img">
        </div>
        <div>
            <p style="color:rgb(81, 64, 64); font-size: 15px; font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;">No matter what path you take to sell your home, we can help you navigate a successful sale.</p>
            <a href="~/homes/create" class="button-home">See Your Options</a>
        </div>
    </div>

</div>
-->
